html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  
  height: 100%;
  font-family: sans-serif;
  user-select: none;
}

@media screen and (min-width: 601px) {
  body {
    align-items: center;
  }
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  /*border: solid 1px blue;*/
}

@media screen and (min-width: 601px) {
  .app {
    width: 400px;
  }
}

#canvas {
  width: 100%;
  border: solid 1px black;
}

button {
  width: 5em;
  cursor: pointer;
}
