html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /*border: solid 2px blue;*/
}

#canvas {
  width: 70%;
  border: solid 1px black;
}

button {
  display: block;
  width: 5em;
  user-select: none;
  cursor: pointer;
}
