html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100%;
  background-color: #03a9f4;
  color: white;
  font-family: sans-serif;
  user-select: none;
}

@media screen and (min-width: 601px) {
  body {
    align-items: center;
  }
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (min-width: 601px) {
  .app {
    width: 400px;
  }
}

#display {
  position: relative;
  box-shadow: 0 30px 80px 0 rgba(0,0,0,0.1),
              0 20px 60px 0 rgba(0,0,0,0.1);
}

#display__challenge {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  width: 60%;
  padding: 0.5rem;
  border-radius: 3px;
  background: rgba(255,255,255,0.4);
  color: rgba(0,0,0,0.8);
  font-size: 1rem;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
}

@media screen and (min-width: 601px) {
  #display__challenge {
    top: 3%;
    width: 55%;
  }
}

.answer-group {
  position: relative;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

#question {
  text-align: center;
}

#num-00, #num-01 {
  display: inline-block;
  width: 1.5rem;
  font-weight: bold;
}

#operator {
  display: inline-block;
  width: 1rem;
  font-weight: bold;
}

.answer-image {
  margin-left: 0.5rem;
  height: 1rem;
  width: auto;
}

.answer-text {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-42%);
}

#display__canvas {
  display: block;
  width: 100%;
}

#controls {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  width: 100%;
}


.button {
  width: 48%;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  font-size: 0.85rem;
  font-weight: bold;
  text-align: center;
  /* Disable blue highlight on webkit touch browser */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.button:active {
  background: rgba(255, 255, 255, 0.30);
}

.non-touch {
  transition: background 200ms ease-out;
  /* Only apply to non-touch devices to prevent blue highlight on touch devices */
  cursor: pointer; 
}

.non-touch:hover {
  background: rgba(255, 255, 255, 0.35);
  transition: background 200ms ease-out;
}

.non-touch:active {
  background: rgba(255, 255, 255, 0.25);
  transition: background 0ms ease-out;
}
